html, body
	height: 100%
body
	background: #000 url('scottonbench_neck2_web2038x1200.jpg') top center fixed no-repeat
	-moz-background-size: cover
	background-size: cover
	background-position: 50% 0px

@media only all and (max-width: 1024px) and (max-height: 768px)
	body
		background-size: 1024px 768px
#container
	width: 960px
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto $neg-project-height /* the bottom margin is the negative value of the footer's height */

/* Style for the bio box
#bio-wrapper
	padding: 30px 0px 60px 0px
#bio
	width: 400px
	background-color: $overlay-box
	color: $font-color
	padding: 20px
	@include border-radius
	h1
		font-size: 62px
		line-height: 80px
	h2
		font-size: 30px
		line-height: 62px
	p
		font-size: 13px
		line-height: 1.5
		margin-bottom: 12px
		font-family: $font-for-copy
#social, #work
	margin: 35px 0px 12px 0px
	height: 32px
	a
		text-decoration: none
#social
	float: left
#work
	float: right
.icon
	width: 32px
	height: 32px
	display: inline-block
	margin-right: 5px
.icon:last-child
	margin-right: 0px
.tip
	display: inline-block
	height: 32px
	vertical-align: middle
	padding-bottom: 10px
	span
		color: $font-color
		font-family: $font-for-copy
		font-size: 11px
		background-color: $image-box-light
		padding: 3px 0px 4px 0px
		@include border-radius (4px)
		z-index: 10
		position: relative
		text-align: center
		display: block
	.arrow
		display: inline-block
		width: 0px
		height: 0px
		border-top: 5px solid transparent
		border-bottom: 5px solid transparent
		border-right: 5px solid $image-box-light
		margin: 0px -4px -1px 0px
		z-index: 50
		position: relative
.tip.social
	width: 155px
.tip.work
	width: 195px
	float: right
#push
	height:  $project-height
		
/* Style for the projects box
div.projects
	min-width:  960px
	width: 100%
	margin: 0 auto
	overflow-x: scroll
	overflow-y: hidden
	position: absolute
div.projects.container
	z-index: 100
	height: $project-height
div.projects.under
	background-color: $overlay-box
	z-index: 0
	height: 100px
	margin-top: 40px
ul.projects
	display: block
	list-style: none
	height: 140px
	padding-top: 8px
li.project
	height: 130px
	width: 140px
	margin: 0px 10px 0px 10px
	float: left
.project
	div.title
		display: none
	a:hover div.title
		display: block
	span
		display: block
		margin: 0px 0px 0px 0px
		text-align: center
		font-size: 12px
		text-decoration: none
		@include border-radius (8px)
		background-color: $overlay-box
		padding: 3px 0px 5px 0px
	div.arrow
		width: 0px
		height: 0px
		border-left: 7px solid transparent
		border-right: 7px solid transparent
		border-top: 7px solid $overlay-box
		margin: 0px auto 0px auto
	img
		@include border-radius(7px)
		background-color: $image-box
		@include box-shadow
		width: 140px
		height: 80px
		margin-top: 16px
		position: absolute
		bottom: 0
		margin-bottom: 9px
	a
		text-decoration: none
		color: $font-color
		font-family: $font-for-copy