html, body
	height: 100%
body
	background: #000 url('scottonbench_neck2_web2038x1200.jpg') top center fixed no-repeat
	-moz-background-size: cover
	background-size: cover
	background-position: 50% 0px

@media only all and (max-width: 1024px) and (max-height: 768px)
	body
		background-size: 1024px 768px
#container
	width: 960px
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto $neg-project-height /* the bottom margin is the negative value of the footer's height */

/* Style for the bio box
#bio-wrapper
	padding: 30px 0px 60px 0px
#bio
	width: 400px
	background-color: $overlay-box
	color: #fff
	padding: 20px
	@include border-radius
	h1
		font-size: 62px
		line-height: 80px
	h2
		font-size: 30px
		line-height: 62px
	p
		font-size: 13px
		line-height: 1.5
		margin-bottom: 12px
		font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif
#social
	margin-top: 50px
.icon
	width: 32px
	height: 32px
	display: inline-block
	margin-right: 5px
#push, #projects
	height:  $project-height
		
/* Style for the projects box
#projects
	min-width:  960px
	width: 100%
	margin: 0 auto
	background-color: $overlay-box
	overflow: auto
.project-wrapper
	height: 80px
	width: 140px
	margin: 11px 10px 0px 10px
	background-color: rgba(255,255,255,0.3)
	@include border-radius (1px)