<div id="container">
  <div id="bio-wrapper">
    <%= render :partial => "bio" %>
  </div>
  <div id="push"></div>
</div>
<div class="projects under"></div>
<div class="projects container">
  <%= render :partial => "projects" %>
</div>