/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../../../sass/_main.sass */
html, body {
  height: 100%; }

/* line 3, ../../../sass/_main.sass */
body {
  background: black url("scottonbench_neck2_web2038x1200.jpg") top center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 50% 0px; }

@media only all and (max-width: 1024px) and (max-height: 768px) {
  /* line 10, ../../../sass/_main.sass */
  body {
    background-size: 1024px 768px; } }
/* line 12, ../../../sass/_main.sass */
#container {
  width: 960px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -140px; }

/* Style for the bio box */
/* line 20, ../../../sass/_main.sass */
#bio-wrapper {
  padding: 30px 0px 60px 0px; }

/* line 22, ../../../sass/_main.sass */
#bio {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px; }
  /* line 28, ../../../sass/_main.sass */
  #bio h1 {
    font-size: 62px;
    line-height: 80px; }
  /* line 31, ../../../sass/_main.sass */
  #bio h2 {
    font-size: 30px;
    line-height: 62px; }
  /* line 34, ../../../sass/_main.sass */
  #bio p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 12px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; }

/* line 39, ../../../sass/_main.sass */
#social, #work {
  margin: 35px 0px 12px 0px;
  height: 32px; }
  /* line 42, ../../../sass/_main.sass */
  #social a, #work a {
    text-decoration: none; }

/* line 44, ../../../sass/_main.sass */
#social {
  float: left; }

/* line 46, ../../../sass/_main.sass */
#work {
  float: right; }

/* line 48, ../../../sass/_main.sass */
.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 5px; }

/* line 53, ../../../sass/_main.sass */
.icon:last-child {
  margin-right: 0px; }

/* line 55, ../../../sass/_main.sass */
.tip {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  padding-bottom: 10px; }
  /* line 60, ../../../sass/_main.sass */
  .tip span {
    color: white;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px 0px 4px 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    z-index: 10;
    position: relative;
    text-align: center;
    display: block; }
  /* line 71, ../../../sass/_main.sass */
  .tip #default {
    display: block; }
  /* line 73, ../../../sass/_main.sass */
  .tip #apple {
    display: none; }
  /* line 75, ../../../sass/_main.sass */
  .tip #nytimes {
    display: none; }
  /* line 77, ../../../sass/_main.sass */
  .tip #cfa {
    display: none; }
  /* line 79, ../../../sass/_main.sass */
  .tip #macworld {
    display: none; }
  /* line 81, ../../../sass/_main.sass */
  .tip #arnold {
    display: none; }
  /* line 83, ../../../sass/_main.sass */
  .tip .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(255, 255, 255, 0.2);
    margin: 0px -4px -1px 0px;
    z-index: 50;
    position: relative; }

/* line 93, ../../../sass/_main.sass */
.tip.social {
  width: 140px; }

/* line 95, ../../../sass/_main.sass */
.tip.work {
  width: 195px;
  float: right; }

/* line 98, ../../../sass/_main.sass */
#push {
  height: 140px; }

/* Style for the projects box */
/* line 102, ../../../sass/_main.sass */
div.projects {
  min-width: 960px;
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute; }

/* line 109, ../../../sass/_main.sass */
div.projects.container {
  z-index: 100;
  height: 140px; }

/* line 112, ../../../sass/_main.sass */
div.projects.under {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
  height: 100px;
  margin-top: 40px; }

/* line 117, ../../../sass/_main.sass */
ul.projects {
  display: block;
  list-style: none;
  height: 140px;
  padding-top: 8px; }

/* line 122, ../../../sass/_main.sass */
li.project {
  height: 130px;
  width: 140px;
  margin: 0px 10px 0px 10px;
  float: left; }

/* line 128, ../../../sass/_main.sass */
.project div.title {
  display: none; }
/* line 130, ../../../sass/_main.sass */
.project a:hover div.title {
  display: block; }
/* line 132, ../../../sass/_main.sass */
.project span {
  display: block;
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px 0px 5px 0px; }
/* line 141, ../../../sass/_main.sass */
.project div.arrow {
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.4);
  margin: 0px auto 0px auto; }
/* line 148, ../../../sass/_main.sass */
.project img {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.4);
  width: 140px;
  height: 80px;
  margin-top: 16px;
  position: absolute;
  bottom: 0;
  margin-bottom: 9px; }
/* line 158, ../../../sass/_main.sass */
.project a {
  text-decoration: none;
  color: white;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; }

/* line 45, icon */
.icon-sprite, .icon-linkedin, .icon-mail, .icon-tumblr, .icon-twitter {
  background: url('/assets/icon-s5f87046182.png') no-repeat; }

/* line 51, co */
.co-sprite, .co-apple, .co-arnold, .co-cfa, .co-macworld, .co-nytimes {
  background: url('/assets/co-s7651a52663.png') no-repeat; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-linkedin {
  background-position: 0 0; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-mail {
  background-position: 0 -32px; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tumblr {
  background-position: 0 -64px; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -96px; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.co-apple {
  background-position: 0 0; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.co-arnold {
  background-position: 0 -32px; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.co-cfa {
  background-position: 0 -64px; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.co-macworld {
  background-position: 0 -96px; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.co-nytimes {
  background-position: 0 -128px; }
