/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../../../sass/_main.sass */
html, body {
  height: 100%; }

/* line 3, ../../../sass/_main.sass */
body {
  background: black url("scottonbench_neck2_web2038x1200.jpg") top center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 50% 0px; }

@media only all and (max-width: 1024px) and (max-height: 768px) {
  /* line 10, ../../../sass/_main.sass */
  body {
    background-size: 1024px 768px; } }
/* line 12, ../../../sass/_main.sass */
#container {
  width: 960px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px; }

/* Style for the bio box */
/* line 20, ../../../sass/_main.sass */
#bio-wrapper {
  padding: 30px 0px 60px 0px; }

/* line 22, ../../../sass/_main.sass */
#bio {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }
  /* line 28, ../../../sass/_main.sass */
  #bio h1 {
    font-size: 62px;
    line-height: 80px; }
  /* line 31, ../../../sass/_main.sass */
  #bio h2 {
    font-size: 30px;
    line-height: 62px; }
  /* line 34, ../../../sass/_main.sass */
  #bio p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 12px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; }

/* line 39, ../../../sass/_main.sass */
#social {
  margin-top: 50px; }

/* line 41, ../../../sass/_main.sass */
.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 5px; }

/* line 46, ../../../sass/_main.sass */
#push, #projects {
  height: 100px; }

/* Style for the projects box */
/* line 50, ../../../sass/_main.sass */
#projects {
  min-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto; }

/* line 56, ../../../sass/_main.sass */
.project-wrapper {
  height: 80px;
  width: 140px;
  margin: 11px 10px 0px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px; }

/* line 45, icon */
.icon-sprite, .icon-linkedin, .icon-mail, .icon-tumblr, .icon-twitter {
  background: url('/assets/icon-s5f87046182.png') no-repeat; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-linkedin {
  background-position: 0 0; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-mail {
  background-position: 0 -32px; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tumblr {
  background-position: 0 -64px; }

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -96px; }
