<div id="bio">
  <div>
    <h1>Scott Silverman</h1>
    <h2>Creator of Product</h2>
  </div>
  <div>
    <p>
      I’m a technical product guy with limitless energy and a passion for perfection. As a Code for America Fellow, I led product development that transformed how the City of Boston uses software and the web. Internships with Apple, The New York Times, and Arnold Worldwide provided me broad product experience. I’ve also designed and developed apps, melding creative and technical to build intuitive, elegant products.
    </p>
    <p>
      When not making software, I'm usually backpacking, taking pictures, or skiing. I live in San Francisco and bike everywhere.
    </p>
  </div>
  <div id="social">
    <a href="http://www.twitter.com/scottsil" target="_blank">
      <div class="icon-twitter"></div>
    </a>
    <a href="http://blog.scottsil.com" target="_blank">
      <div class="icon-tumblr"></div>
    </a>
    <a href="http://www.linkedin.com/in/scottsil" target="_blank">
      <div class="icon-linkedin"></div>
    </a>
    <a href="mailto:scottsil@mac.com">
      <div class="icon-mail"></div>
    </a>
  </div>
  <div id="work">
    <div class="icon co-apple"></div>
    <div class="icon co-nytimes"></div>
    <div class="icon co-cfa"></div>
    <div class="icon co-macworld"></div>
    <div class="icon co-arnold"></div>
  </div>
  <div>
    <div class="social tip">
      <span id="default-social">Get in touch</span>
      <span id="twitter">Twitter</span>
      <span id="tumblr">Tumblr</span>
      <span id="linkedin">LinkedIn</span>
      <span id="email">Email</span>
    </div>
    <div class="work tip">
      <span id="default-work">Where I've worked</span>
      <span id="apple">Apple</span>
      <span id="nytimes">The New York Times</span>
      <span id="cfa">Code for America</span>
      <span id="macworld">Macworld Magazine</span>
      <span id="arnold">Arnold Worldwide</span>
    </div>
  </div>
</div>