<div id="bio">
  <div>
    <h1>Scott Silverman</h1>
    <h2>Interaction Designer</h2>
  </div>
  <div>
    <p>
      I’m a San Francisco based interaction and UI designer who believes in simple and powerful products. I conceptualize, sketch, prototype, polish pixels, and write semantic markup. Take a peek at some of my work on <a href="http://dribbble.com/scottsil">Dribbble</a> or get in touch on <a href="http://twitter.com/scottsil">Twitter</a>.
    </p>
    <p>
      When not making software, I'm usually travelling, snapping photos, or skiing. I drink espresso daily and walk everywhere.
    </p>
  </div>
</div>