<div id="bio">
  <div>
    <h1>Scott Silverman</h1>
    <h2>Creator of Product</h2>
  </div>
  <div>
    <p>
      Every morning I wake up to solve hard problems and make cool stuff. I've lead and launched web apps that let parents track school buses from their smartphones and teachers send homework assignments to their classes. I've worked alongside engineers to design, prototype, and implement interfaces. I've done market research for The New York Times, PR and marketing at Apple, and written for Macworld.com.
    </p>
    <p>
      These roles have made me a creator of product: a builder, editor, and facilitator. From web development to team communication, I live and dream across disciplines to make creative, successful products.
    </p>
  </div>
  <div id="social">
    <a href="http://www.twitter.com/scottsil" target="_blank">
      <div class="icon-twitter"></div>
    </a>
    <a href="http://blog.scottsil.com" target="_blank">
      <div class="icon-tumblr"></div>
    </a>
    <a href="http://www.linkedin.com/in/scottsil" target="_blank">
      <div class="icon-linkedin"></div>
    </a>
    <a href="mailto:scottsil@mac.com">
      <div class="icon-mail"></div>
    </a>
  </div>
  <div id="work">
    <div class="icon co-apple"></div>
    <div class="icon co-nytimes"></div>
    <div class="icon co-cfa"></div>
    <div class="icon co-macworld"></div>
    <div class="icon co-arnold"></div>
  </div>
  <div>
    <div class="social tip">
      <span id="default-social">Get in touch</span>
      <span id="twitter">Twitter</span>
      <span id="tumblr">Tumblr</span>
      <span id="linkedin">LinkedIn</span>
      <span id="email">Email</span>
    </div>
    <div class="work tip">
      <span id="default-work">Where I've worked</span>
      <span id="apple">Apple</span>
      <span id="nytimes">The New York Times</span>
      <span id="cfa">Code for America</span>
      <span id="macworld">Macworld Magazine</span>
      <span id="arnold">Arnold Worldwide</span>
    </div>
  </div>
</div>