<div id="bio">
  <div>
    <h1>Scott Silverman</h1>
    <h2>UI / Interaction Designer</h2>
  </div>
  <div>
    <p>
      I’m a San Francisco based UI and interaction designer who believes in clean and usable products. I conceptualize, sketch, push pixels, and write semantic markup. Take a peek at some of my work on <a href="http://dribbble.com/scottsil" target="blank">Dribbble</a>.
    </p>
    <p>
      When not making software, I'm usually travelling, snapping photos, or skiing. I drink lots of coffee and walk everywhere.
    </p>
  </div>
  <div>
    <div id="social">
      <a href="http://www.twitter.com/scottsil" target="_blank">
        <div class="icon-twitter"></div>
      </a>
      <a href="http://blog.scottsil.com" target="_blank">
        <div class="icon-tumblr"></div>
      </a>
      <a href="http://www.linkedin.com/in/scottsil" target="_blank">
        <div class="icon-linkedin"></div>
      </a>
      <a href="mailto:scottsil@mac.com">
        <div class="icon-mail"></div>
      </a>
    </div>
    <div id="work">
      <div class="icon co-apple"></div>
      <div class="icon co-nytimes"></div>
      <div class="icon co-cfa"></div>
      <div class="icon co-airbnb"></div>
    </div>
    <div>
      <div class="social tip">
        <span id="default-social">Get in touch</span>
        <span id="twitter">Twitter</span>
        <span id="tumblr">Tumblr</span>
        <span id="linkedin">LinkedIn</span>
        <span id="email">Email</span>
      </div>
      <div class="work tip">
        <span id="default-work">Where I've worked</span>
        <span id="apple">Apple</span>
        <span id="nytimes">The New York Times</span>
        <span id="cfa">Code for America</span>
        <span id="airbnb">Airbnb</span>
      </div>
    </div>
  </div>
</div>