<div id="bio">
  <div>
    <h1>Scott Silverman</h1>
    <h2>Lover of Product</h2>
  </div>
  <div>
    <p>
      Currently a fellow at Code for America, I rethink how cities and citizens use the web. I thrive when solving hard problems and love all things software - every feature and every idea, down to the last pixel. I work as a front-end interaction designer and live, sleep, and breathe product.
    </p>
    <p>
      My experience has been with both clients and companies, building and managing products. I research, ideate, collaborate, build, iterate, support, and repeat. Below are a few of the places I've worked, and some ways to get in touch.
    </p>
  </div>
  <div id="social">
    <div class="icon icon-twitter"></div>
    <div class="icon icon-tumblr"></div>
    <div class="icon icon-linkedin"></div>
    <div class="icon icon-mail"></div>
    <div class="tip">
      <div class="arrow"></div>
      <span>Get in touch</span>
    </div>
  </div>
  <div id="work">
    <div class="icon co-apple"></div>
    <div class="icon co-nytimes"></div>
    <div class="icon co-cfa"></div>
    <div class="tip">
      <div class="arrow"></div>
      <span>Where I've worked</span>
    </div>
  </div>
</div>