<div id="bio">
  <div>
    <h1>Scott Silverman</h1>
    <h2>Maker of Product</h2>
  </div>
  <div>
    <p>
      My past year as a Code for America Fellow has provided me some great experiences. I've refined technical skills like HTML and CSS, Javascript, Git, and Ruby on Rails. I've designed and built interfaces. I've conducted user research, led product development, and implemented the result. I've coordinated communication with our clients. I've hacked on Rails projects until the wee hours of the morning.
    </p>
    <p>
      But of all these things, I've learned that what I enjoy the most is collaborating with a team to make a beautiful product. At heart, I'm an editor, facilitator, and communicator: a maker of product. I'd like to find a place to continue that.
    </p>
  </div>
  <div id="social">
    <a href="http://www.twitter.com/scottsil" target="_blank">
      <div class="icon-twitter"></div>
    </a>
    <a href="http://blog.scottsil.com" target="_blank">
      <div class="icon-tumblr"></div>
    </a>
    <a href="http://www.linkedin.com/in/scottsil" target="_blank">
      <div class="icon-linkedin"></div>
    </a>
    <a href="mailto:scottsil@mac.com">
      <div class="icon-mail"></div>
    </a>
  </div>
  <div id="work">
    <div class="icon co-apple"></div>
    <div class="icon co-nytimes"></div>
    <div class="icon co-cfa"></div>
    <div class="icon co-macworld"></div>
    <div class="icon co-arnold"></div>
  </div>
  <div>
    <div class="social tip">
      <span id="default-social">Get in touch</span>
      <span id="twitter">Twitter</span>
      <span id="tumblr">Tumblr</span>
      <span id="linkedin">LinkedIn</span>
      <span id="email">Email</span>
    </div>
    <div class="work tip">
      <span id="default-work">Where I've worked</span>
      <span id="apple">Apple</span>
      <span id="nytimes">The New York Times</span>
      <span id="cfa">Code for America</span>
      <span id="macworld">Macworld Magazine</span>
      <span id="arnold">Arnold Worldwide</span>
    </div>
  </div>
</div>