<% if @projects.empty? %>
  No projects
<% else %>
  <% @projects.each do |project| %>
    <div class="project-wrapper">
      <%= project.title %>
      <%= project.description %>
      <%= project.order_index %>
    </div>
  <% end %>
<% end %>