<div id="bio">
  <h1>Scott Silverman</h1>
  <h2>Lover of Product</h2>
  <p>
    Currently a fellow at Code for America, Scott rethinks how cities and citizens use the web. He loves all things product, working closely with engineers, and in many cases as a front-end interaction designer.
  </p>
  <p>
    Scott has worked with clients and in companies to bring products from research and ideation through development and support. See some of his work on Behance and experience on LinkedIn.
  </p>
</div>