<div id="container">
  <div id="bio-wrapper">
    <%= render :partial => "bio" %>
  </div>
  <div id="push"></div>
</div>
<div class="projects container">
  <%= render :partial => "projects" %>
</div>
<div class="projects under"></div>
<script>
  $(document).ready(function() {

  	/* Apply fancybox to multiple items */
	
  	$("a.project").fancybox({
  		'transitionIn'	:	'elastic',
  		'transitionOut'	:	'elastic',
  		'speedIn'		:	600, 
  		'speedOut'		:	200, 
  		'overlayShow'	:	true,
  		'titlePosition' : 'inside',
  		'hideOnOverlayClick' : true,
  		'overlayOpacity' : 0.6,
  		'overlayColor' : '#000'
  	});
	
  });
</script>